# Credit Risk Analysis

### NECESSARY IMPORTS

In [40]:
import boto3
import os
import sys
import numpy as np
import pandas as pd

# from dotenv import load_dotenv #for env variables
from imp import reload #for testing

from src import data_utils, config

### GET DATA

In [4]:
reload(data_utils)
reload(config)

# get data
app_train, app_test, columns_description = data_utils.get_datasets()

c:\Users\Usuario\OneDrive\Documents\GitHub\credit-risk-analysis\src\data_utils.py:51: DtypeWarning: Columns (51,52) have mixed types. Specify dtype option on import or set low_memory=False.
  app_train = pd.read_csv(config.DATASET_TRAIN, delimiter='\t', encoding='latin1', header=None)

In [5]:
app_train.head()

,ID_CLIENT,CLERK_TYPE,PAYMENT_DAY,APPLICATION_SUBMISSION_TYPE,QUANT_ADDITIONAL_CARDS,POSTAL_ADDRESS_TYPE,SEX,MARITAL_STATUS,QUANT_DEPENDANTS,EDUCATION_LEVEL,...,FLAG_HOME_ADDRESS_DOCUMENT,FLAG_RG,FLAG_CPF,FLAG_INCOME_PROOF,PRODUCT,FLAG_ACSP_RECORD,AGE,RESIDENCIAL_ZIP_3,PROFESSIONAL_ZIP_3,TARGET_LABEL_BAD=1
0,1,C,5,Web,0,1,F,6,1,0,...,0,0,0,0,1,N,32,595,595,1
1,2,C,15,Carga,0,1,F,2,0,0,...,0,0,0,0,1,N,34,230,230,1
2,3,C,5,Web,0,1,F,2,0,0,...,0,0,0,0,1,N,27,591,591,0
3,4,C,20,Web,0,1,F,2,0,0,...,0,0,0,0,1,N,61,545,545,0
4,5,C,10,Web,0,1,M,2,0,0,...,0,0,0,0,1,N,48,235,235,1

In [6]:
columns_description

,Var_Title,Var_Description,Field_Content
Var_Id,,,
1,ID_CLIENT,Sequential number for the applicant (to be use...,"1-50000, 50001-70000, 70001-90000"
2,CLERK_TYPE,Not informed,C
3,PAYMENT_DAY,"Day of the month for bill payment, chosen by t...","1,5,10,15,20,25"
4,APPLICATION_SUBMISSION_TYPE,Indicates if the application was submitted via...,"Web, Carga"
5,QUANT_ADDITIONAL_CARDS,Quantity of additional cards asked for in the ...,"1,2,NULL"
6,POSTAL_ADDRESS_TYPE,Indicates if the address for posting is the ho...,1.2
7,SEX,NaN,"M=Male, F=Female"
8,MARITAL_STATUS,Encoding not informed,"1,2,3,4,5,6,7"
9,QUANT_DEPENDANTS,NaN,"0, 1, 2, ..."
10,EDUCATION_LEVEL,Edducational level in gradual order not informed,"1,2,3,4,5"
11,STATE_OF_BIRTH,NaN,"Brazilian states, XX, missing"
12,CITY_OF_BIRTH,NaN,NaN
13,NACIONALITY,Country of birth. Encoding not informed but Br...,"0, 1, 2"
14,RESIDENCIAL_STATE,State of residence,NaN
15,RESIDENCIAL_CITY,City of residence,NaN
16,RESIDENCIAL_BOROUGH,Borough of residence,NaN
17,FLAG_RESIDENCIAL_PHONE,Indicates if the applicant possesses a home phone,"Y,N"
18,RESIDENCIAL_PHONE_AREA_CODE,Three-digit pseudo-code,NaN
19,RESIDENCE_TYPE,"Encoding not informed. In general, there are t...","1,2,3,4,5,NULL"
20,MONTHS_IN_RESIDENCE,Time in the current residence in months,"1,2,... , NULL"
21,FLAG_MOBILE_PHONE,Indicates if the applicant possesses a mobile ...,"Y,N"
22,FLAG_EMAIL,Indicates if the applicant possesses an e-mail...,0.1
23,PERSONAL_MONTHLY_INCOME,Applicant's personal regular monthly income in...,NaN
24,OTHER_INCOMES,Applicant's other incomes monthly averaged in ...,NaN
25,FLAG_VISA,Flag indicating if the applicant is a VISA cre...,0.1
26,FLAG_MASTERCARD,Flag indicating if the applicant is a MASTERCA...,0.1
27,FLAG_DINERS,Flag indicating if the applicant is a SINERS c...,0.1
28,FLAG_AMERICAN_EXPRESS,Flag indicating if the applicant is an AMERICA...,0.1
29,FLAG_OTHER_CARDS,"Despite being label ""FLAG"", this field present...","0,1,NULL"
30,QUANT_BANKING_ACCOUNTS,NaN,"0,1,2"
31,QUANT_SPECIAL_BANKING_ACCOUNTS,NaN,"0,1,2"
32,PERSONAL_ASSETS_VALUE,Total value of the personal possessions such a...,NaN
33,QUANT_CARS,Quantity of cars the applicant possesses,NaN
34,COMPANY,If the applicant has supplied the name of the ...,"Y,N"
35,PROFESSIONAL_STATE,State where the applicant works,NaN
36,PROFESSIONAL_CITY,City where the applicant works,NaN
37,PROFESSIONAL_BOROUGH,Borough where the applicant works,NaN
38,FLAG_PROFESSIONAL_PHONE,Indicates if the professional phone number was...,"Y,N"
39,PROFESSIONAL_PHONE_AREA_CODE,Three-digit pseudo-code,NaN
40,MONTHS_IN_THE_JOB,Time in the current job in months,NaN
41,PROFESSION_CODE,Applicant's profession code. Encoding not info...,"1,2,3,..."
42,OCCUPATION_TYPE,Encoding not informed,"1,2,3,4,5,NULL"
43,MATE_PROFESSION_CODE,Mate's profession code. Encoding not informed,"1,2,3,..."
44,EDUCATION_LEVEL,Mate's educational level in gradual order not ...,"1,2,3,4,5"
45,FLAG_HOME_ADDRESS_DOCUMENT,Flag indicating documental confirmation of hom...,0.1
46,FLAG_RG,Flag indicating documental confirmation of cit...,0.1
47,FLAG_CPF,Flag indicating documental confirmation of tax...,0.1
48,FLAG_INCOME_PROOF,Flag indicating documental confirmation of income,0.1
49,PRODUCT,Type of credit product applied. Encoding not i...,"1,2,7"
50,FLAG_ACSP_RECORD,Flag indicating if the applicant has any previ...,"Y, N"
51,AGE,Applicant's age at the moment of submission,NaN
52,RESIDENCIAL_ZIP_3,Three most significant digits of the actual ho...,NaN
53,PROFESSIONAL_ZIP_3,Three most significant digits of the actual jo...,NaN
54,TARGET_LABEL_BAD=1,"Target Variable: BAD=1, GOOD=0",NaN

In [30]:
app_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 54 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ID_CLIENT                       50000 non-null  int64
 1   CLERK_TYPE                      50000 non-null  object
 2   PAYMENT_DAY                     50000 non-null  int64
 3   APPLICATION_SUBMISSION_TYPE     50000 non-null  object
 4   QUANT_ADDITIONAL_CARDS          50000 non-null  int64
 5   POSTAL_ADDRESS_TYPE             50000 non-null  int64
 6   SEX                             50000 non-null  object
 7   MARITAL_STATUS                  50000 non-null  int64
 8   QUANT_DEPENDANTS                50000 non-null  int64
 9   EDUCATION_LEVEL                 50000 non-null  int64
 10  STATE_OF_BIRTH                  50000 non-null  object
 11  CITY_OF_BIRTH                   50000 non-null  object
 12  NACIONALITY                     50000 non-null  int64
 13  RESIDENCIAL_STATE               50000 non-null  object
 14  RESIDENCIAL_CITY                50000 non-null  object
 15  RESIDENCIAL_BOROUGH             50000 non-null  object
 16  FLAG_RESIDENCIAL_PHONE          50000 non-null  object
 17  RESIDENCIAL_PHONE_AREA_CODE     50000 non-null  object
 18  RESIDENCE_TYPE                  48651 non-null  float64
 19  MONTHS_IN_RESIDENCE             46223 non-null  float64
 20  FLAG_MOBILE_PHONE               50000 non-null  object
 21  FLAG_EMAIL                      50000 non-null  int64
 22  PERSONAL_MONTHLY_INCOME         50000 non-null  float64
 23  OTHER_INCOMES                   50000 non-null  float64
 24  FLAG_VISA                       50000 non-null  int64
 25  FLAG_MASTERCARD                 50000 non-null  int64
 26  FLAG_DINERS                     50000 non-null  int64
 27  FLAG_AMERICAN_EXPRESS           50000 non-null  int64
 28  FLAG_OTHER_CARDS                50000 non-null  int64
 29  QUANT_BANKING_ACCOUNTS          50000 non-null  int64
 30  QUANT_SPECIAL_BANKING_ACCOUNTS  50000 non-null  int64
 31  PERSONAL_ASSETS_VALUE           50000 non-null  float64
 32  QUANT_CARS                      50000 non-null  int64
 33  COMPANY                         50000 non-null  object
 34  PROFESSIONAL_STATE              50000 non-null  object
 35  PROFESSIONAL_CITY               16217 non-null  object
 36  PROFESSIONAL_BOROUGH            16217 non-null  object
 37  FLAG_PROFESSIONAL_PHONE         50000 non-null  object
 38  PROFESSIONAL_PHONE_AREA_CODE    50000 non-null  object
 39  MONTHS_IN_THE_JOB               50000 non-null  int64
 40  PROFESSION_CODE                 42244 non-null  float64
 41  OCCUPATION_TYPE                 42687 non-null  float64
 42  MATE_PROFESSION_CODE            21116 non-null  float64
 43  EDUCATION_LEVEL                 17662 non-null  float64
 44  FLAG_HOME_ADDRESS_DOCUMENT      50000 non-null  int64
 45  FLAG_RG                         50000 non-null  int64
 46  FLAG_CPF                        50000 non-null  int64
 47  FLAG_INCOME_PROOF               50000 non-null  int64
 48  PRODUCT                         50000 non-null  int64
 49  FLAG_ACSP_RECORD                50000 non-null  object
 50  AGE                             50000 non-null  int64
 51  RESIDENCIAL_ZIP_3               50000 non-null  object
 52  PROFESSIONAL_ZIP_3              50000 non-null  object
 53  TARGET_LABEL_BAD=1              50000 non-null  int64
dtypes: float64(9), int64(25), object(20)
memory usage: 20.6+ MB

In [41]:
sex_values = np.unique(app_train["SEX"], return_counts=True)
print(dict(zip(sex_values[0], sex_values[1])))

#eliminar valores 'n' y ' '

{' ': 17, 'F': 30805, 'M': 19130, 'N': 48}

In [48]:
# Eliminar valores 'N' y ' '
# Reemplazar 'N' y ' ' por NaN en la columna "SEX"
app_train.loc[(app_train["SEX"] == 'N') | (app_train["SEX"] == ' '), "SEX"] = np.nan

# Convertir la columna "SEX" al tipo de dato str
app_train["SEX"] = app_train["SEX"].astype(str)

# Verificar los valores únicos actualizados en la columna "SEX"
sex_values = np.unique(app_train["SEX"], return_counts=True)
sex_counts = dict(zip(sex_values[0], sex_values[1]))
print(sex_counts)

{'F': 30805, 'M': 19130, 'nan': 65}

In [51]:
# Eliminar registros con el valor 'nan' en la columna "SEX"
app_train = app_train[app_train["SEX"] != 'nan']

# Verificar los valores únicos actualizados en la columna "SEX"
sex_values = app_train["SEX"].unique()
sex_counts = app_train["SEX"].value_counts().to_dict()
print(sex_counts)

{'F': 30805, 'M': 19130}

In [52]:
app_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49935 entries, 0 to 49999
Data columns (total 54 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ID_CLIENT                       49935 non-null  int64
 1   CLERK_TYPE                      49935 non-null  object
 2   PAYMENT_DAY                     49935 non-null  int64
 3   APPLICATION_SUBMISSION_TYPE     49935 non-null  object
 4   QUANT_ADDITIONAL_CARDS          49935 non-null  int64
 5   POSTAL_ADDRESS_TYPE             49935 non-null  int64
 6   SEX                             49935 non-null  object
 7   MARITAL_STATUS                  49935 non-null  int64
 8   QUANT_DEPENDANTS                49935 non-null  int64
 9   EDUCATION_LEVEL                 49935 non-null  int64
 10  STATE_OF_BIRTH                  49935 non-null  object
 11  CITY_OF_BIRTH                   49935 non-null  object
 12  NACIONALITY                     49935 non-null  int64
 13  RESIDENCIAL_STATE               49935 non-null  object
 14  RESIDENCIAL_CITY                49935 non-null  object
 15  RESIDENCIAL_BOROUGH             49935 non-null  object
 16  FLAG_RESIDENCIAL_PHONE          49935 non-null  object
 17  RESIDENCIAL_PHONE_AREA_CODE     49935 non-null  object
 18  RESIDENCE_TYPE                  48586 non-null  float64
 19  MONTHS_IN_RESIDENCE             46159 non-null  float64
 20  FLAG_MOBILE_PHONE               49935 non-null  object
 21  FLAG_EMAIL                      49935 non-null  int64
 22  PERSONAL_MONTHLY_INCOME         49935 non-null  float64
 23  OTHER_INCOMES                   49935 non-null  float64
 24  FLAG_VISA                       49935 non-null  int64
 25  FLAG_MASTERCARD                 49935 non-null  int64
 26  FLAG_DINERS                     49935 non-null  int64
 27  FLAG_AMERICAN_EXPRESS           49935 non-null  int64
 28  FLAG_OTHER_CARDS                49935 non-null  int64
 29  QUANT_BANKING_ACCOUNTS          49935 non-null  int64
 30  QUANT_SPECIAL_BANKING_ACCOUNTS  49935 non-null  int64
 31  PERSONAL_ASSETS_VALUE           49935 non-null  float64
 32  QUANT_CARS                      49935 non-null  int64
 33  COMPANY                         49935 non-null  object
 34  PROFESSIONAL_STATE              49935 non-null  object
 35  PROFESSIONAL_CITY               16194 non-null  object
 36  PROFESSIONAL_BOROUGH            16194 non-null  object
 37  FLAG_PROFESSIONAL_PHONE         49935 non-null  object
 38  PROFESSIONAL_PHONE_AREA_CODE    49935 non-null  object
 39  MONTHS_IN_THE_JOB               49935 non-null  int64
 40  PROFESSION_CODE                 42180 non-null  float64
 41  OCCUPATION_TYPE                 42622 non-null  float64
 42  MATE_PROFESSION_CODE            21053 non-null  float64
 43  EDUCATION_LEVEL                 17601 non-null  float64
 44  FLAG_HOME_ADDRESS_DOCUMENT      49935 non-null  int64
 45  FLAG_RG                         49935 non-null  int64
 46  FLAG_CPF                        49935 non-null  int64
 47  FLAG_INCOME_PROOF               49935 non-null  int64
 48  PRODUCT                         49935 non-null  int64
 49  FLAG_ACSP_RECORD                49935 non-null  object
 50  AGE                             49935 non-null  int64
 51  RESIDENCIAL_ZIP_3               49935 non-null  object
 52  PROFESSIONAL_ZIP_3              49935 non-null  object
 53  TARGET_LABEL_BAD=1              49935 non-null  int64
dtypes: float64(9), int64(25), object(20)
memory usage: 21.0+ MB

In [29]:
dtypes = {51: int, 52: int}

In [26]:
app_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 53 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ID_CLIENT                       20000 non-null  int64
 1   CLERK_TYPE                      20000 non-null  object
 2   PAYMENT_DAY                     20000 non-null  int64
 3   APPLICATION_SUBMISSION_TYPE     20000 non-null  object
 4   QUANT_ADDITIONAL_CARDS          1273 non-null   float64
 5   POSTAL_ADDRESS_TYPE             20000 non-null  int64
 6   SEX                             20000 non-null  object
 7   MARITAL_STATUS                  20000 non-null  int64
 8   QUANT_DEPENDANTS                20000 non-null  int64
 9   EDUCATION_LEVEL                 20000 non-null  int64
 10  STATE_OF_BIRTH                  20000 non-null  object
 11  CITY_OF_BIRTH                   19990 non-null  object
 12  NACIONALITY                     20000 non-null  int64
 13  RESIDENCIAL_STATE               20000 non-null  object
 14  RESIDENCIAL_CITY                20000 non-null  object
 15  RESIDENCIAL_BOROUGH             20000 non-null  object
 16  FLAG_RESIDENCIAL_PHONE          20000 non-null  object
 17  RESIDENCIAL_PHONE_AREA_CODE     20000 non-null  object
 18  RESIDENCE_TYPE                  19440 non-null  float64
 19  MONTHS_IN_RESIDENCE             17476 non-null  float64
 20  FLAG_MOBILE_PHONE               20000 non-null  object
 21  FLAG_EMAIL                      20000 non-null  int64
 22  PERSONAL_MONTHLY_INCOME         20000 non-null  float64
 23  OTHER_INCOMES                   20000 non-null  float64
 24  FLAG_VISA                       20000 non-null  int64
 25  FLAG_MASTERCARD                 20000 non-null  int64
 26  FLAG_DINERS                     20000 non-null  int64
 27  FLAG_AMERICAN_EXPRESS           20000 non-null  int64
 28  FLAG_OTHER_CARDS                20000 non-null  int64
 29  QUANT_BANKING_ACCOUNTS          20000 non-null  int64
 30  QUANT_SPECIAL_BANKING_ACCOUNTS  20000 non-null  int64
 31  PERSONAL_ASSETS_VALUE           20000 non-null  float64
 32  QUANT_CARS                      20000 non-null  int64
 33  COMPANY                         20000 non-null  object
 34  PROFESSIONAL_STATE              20000 non-null  object
 35  PROFESSIONAL_CITY               5656 non-null   object
 36  PROFESSIONAL_BOROUGH            5656 non-null   object
 37  FLAG_PROFESSIONAL_PHONE         20000 non-null  object
 38  PROFESSIONAL_PHONE_AREA_CODE    20000 non-null  object
 39  MONTHS_IN_THE_JOB               20000 non-null  int64
 40  PROFESSION_CODE                 20000 non-null  int64
 41  OCCUPATION_TYPE                 17628 non-null  float64
 42  MATE_PROFESSION_CODE            1121 non-null   float64
 43  EDUCATION_LEVEL                 390 non-null    float64
 44  FLAG_HOME_ADDRESS_DOCUMENT      20000 non-null  int64
 45  FLAG_RG                         20000 non-null  int64
 46  FLAG_CPF                        20000 non-null  int64
 47  FLAG_INCOME_PROOF               20000 non-null  int64
 48  PRODUCT                         20000 non-null  int64
 49  FLAG_ACSP_RECORD                20000 non-null  object
 50  AGE                             20000 non-null  int64
 51  RESIDENCIAL_ZIP_3               20000 non-null  int64
 52  PROFESSIONAL_ZIP_3              20000 non-null  int64
dtypes: float64(9), int64(26), object(18)
memory usage: 8.1+ MB

In [24]:
dtypes = {51: int, 52: int}

### EDA