# AnyoneAI - Credit Risk Analysis

## 1. Introduction

In [ ]:
# Import libraries

import os
import boto3
import pandas as pd
from botocore.exceptions import NoCredentialsError

### Getting data

1. Install AWS CLI
2. Configure AWS CLI
3. Download files from S3
4. Run the code below to download the dataset and save it in the directory dataset.

In [ ]:
prefix = "credit-data-2010/"
bucket_name = "anyoneai-datasets"
maxkeys = 9999999
s3 = boto3.client("s3")
object_list = s3.list_objects(Bucket=bucket_name, Prefix=prefix, MaxKeys=maxkeys)[
    "Contents"
]
list_keys = []
list_filepaths = []
dataset_folder = "dataset"

if not os.path.exists(dataset_folder):
    os.makedirs(dataset_folder)

for s3_object in object_list:
    key = s3_object["Key"]

    path, filename = os.path.split(key)
    filepath = os.path.join(dataset_folder, filename)

    list_filepaths.append(filepath)
    list_keys.append(key)

s3 = boto3.resource("s3")

for key, path in zip(list_keys[1:], list_filepaths[1:]):
    s3.meta.client.download_file(bucket_name, key, path)

In [9]:
import pandas as pd

# Specify the path to your text file
file_path = './dataset/PAKDD2010_Modeling_Data.txt'

# Read the text file into a DataFrame
df = pd.read_csv(file_path, delimiter='\t', encoding='latin1')  # Use appropriate delimiter if needed

# Use the df DataFrame for further analysis or processing
df.head()  # Example: Print the first few rows of the DataFrame

C:\Users\Matías\AppData\Local\Temp\ipykernel_10360\3382743084.py:7: DtypeWarning: Columns (51,52) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path, delimiter='\t', encoding='latin1')  # Use appropriate delimiter if needed

,1,C,5,Web,0,1.1,F,6,1.2,0.1,...,0.11,0.12,0.13,0.14,1.8,N.3,32,595,595.1,1.9
0,2,C,15,Carga,0,1,F,2,0,0,...,0,0,0,0,1,N,34,230,230,1
1,3,C,5,Web,0,1,F,2,0,0,...,0,0,0,0,1,N,27,591,591,0
2,4,C,20,Web,0,1,F,2,0,0,...,0,0,0,0,1,N,61,545,545,0
3,5,C,10,Web,0,1,M,2,0,0,...,0,0,0,0,1,N,48,235,235,1
4,6,C,10,0,0,1,M,2,0,0,...,0,0,0,0,2,N,40,371,371,1

In [8]:
# Specify the path to your XLSX file
file_path = './dataset/PAKDD2010_VariablesList.xls'

# Read the XLSX file into a DataFrame
df = pd.read_excel(file_path)

# Use the df DataFrame for further analysis or processing
df.head()  # Example: Print the first few rows of the DataFrame

,Var_Id,Var_Title,Var_Description,Field_Content
0,1,ID_CLIENT,Sequential number for the applicant (to be use...,"1-50000, 50001-70000, 70001-90000"
1,2,CLERK_TYPE,Not informed,C
2,3,PAYMENT_DAY,"Day of the month for bill payment, chosen by t...","1,5,10,15,20,25"
3,4,APPLICATION_SUBMISSION_TYPE,Indicates if the application was submitted via...,"Web, Carga"
4,5,QUANT_ADDITIONAL_CARDS,Quantity of additional cards asked for in the ...,"1,2,NULL"